.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2800b6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: #160062;
}
